In [117]:
#import modules
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#read files from local server
df = pd.read_csv('/Users/abhishekshah/Desktop/Pokemon/pokemon_data.csv')
print(df.head(5)) #read first five rows

In [ ]:
#Read Headers
print(df.columns)

In [ ]:
#read each column (use double hard bracket if we have multiple variables to search)
print(df[['Name','Type 1', 'HP']])

In [ ]:
#Read each row
print(df.head(4))

In [ ]:
#Read each row based on index
print(df.iloc[1:4])

In [ ]:
#Read a specific location(R,C)
print(df.iloc[2,1])

In [ ]:
#OR using loop we can iterate the rows same afunction as line 40- it will read all the name column. 
for index, row in df.iterrows():
    print(index, row['Name'])

In [125]:
#finding specific rows or column(use loc to read specific location)
df.loc[df['Type 1']=="Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [ ]:
#details of dataset
df.describe()

In [ ]:
#Sort values 
df.sort_values('Name', ascending=False)

In [ ]:
#sort data based on values
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

#Making change to the data

In [ ]:
#adding certain columns
df['Total'] = df['HP'] +df['Attack']+ df['Defense'] + df['Sp. Atk']+df['Sp. Def']+ df['Speed']
df.head(10)

In [ ]:
df.to_excel('modified.xlsxl',index=False)
df.head(5)